.courses

  margin-top: var(--sectionPaddingTop)
  margin-bottom: var(--sectionPaddingBottom)
  padding: 0 15px

  color: $white

  &__container
    border-radius: var(--borderRadius)
    overflow: hidden
    padding-right: 20px
    padding-left: 20px
    padding-top: var(--sectionPaddingTop)
    padding-bottom: 80px
    position: relative
    background: $gradient-green
    background-image: url("../images/bg/branch.png")
    background-position: bottom left
    background-repeat: no-repeat
    background-size: 1063px auto
    box-shadow: $box-shadow
    @include mediaPhone
      padding-top: 40px
      padding-bottom: 40px
      display: flex
      flex-direction: column

  &__title
    margin-bottom: 148px
    @include mediaTablet
      margin-bottom: 50px
  &__head
  &__subhead
    font-size: 32px
    color: $grey
    @include mediaPhone
      font-size: 22px
  &__info
    margin-bottom: 148px
    max-width: 71.5% // 1015/1430
    font-size: 36px
    @include mediaTablet
      margin-bottom: 50px
      font-size: 32px
    @include mediaPhone
      max-width: 100%
      font-size: 28px
    @include mediaPhoneMid
      font-size: 22px
  &__list
    display: flex
    gap: 20px
    @media screen and (max-width: 1129.98px)
      flex-wrap: wrap
    @include mediaPhone
      margin-bottom: 40px

  &__item
    flex: 1 0 360px
    border-radius: var(--borderRadius)
    overflow: hidden
    padding: 20px 20px 100px
    // display: flex
    // flex-direction: column
    // justify-content: space-between
    background-image: url("../images/bg/logo.svg")
    background-repeat: no-repeat
    background-position: bottom 20px left 20px
    background-size: 100px 60px
    background-color: rgba(78, 88, 88, 0.2)
    transition: box-shadow 0.3s ease-in
    @media (any-hover: hover) and (pointer: fine)
      &:hover
        box-shadow: $box-shadow
        cursor: pointer
    @include mediaPhone
      flex-basis: 100%
  &__name
    margin-bottom: 20px
    font-size: 32px
    min-height: 77px
    @include mediaPhone
      min-height: unset
      margin-bottom: 30px
  &__descr
    font-size: 18px
  &__photo
    border-radius: var(--borderRadius)
    overflow: hidden
    flex-grow: 1
    @media (any-hover: hover) and (pointer: fine)
      &:hover
        img
          transform: scale(1.05)
    img
      width: 100%
      object-fit: cover
      height: 100%
      transition: transform 2s ease-in
    @media screen and (max-width: 1129.98px)
      flex-basis: 100%
      max-height: 400px

