.hero
  --height: 860px

  position: relative
  margin-top: 20px
  margin-bottom: var(--sectionPaddingTop)
  height: var(--height)
  padding: 0 15px
  @include mediaPhone
    --height: 600px

  &__container
    position: relative
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    height: 100%
    border-radius: var(--borderRadius)
    background-image: url("../images/bg/hero.jpg")
    background-size: cover
    background-position: center
    background-attachment: fixed
    overflow: hidden
    box-shadow: $box-shadow
    z-index: 2
    @include mediaTablet
      &::before
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.25)
        z-index: 1

  &__img
    width: 567px
    height: 335px
    img
      width: 100%
      height: 100%
    @include mediaTablet
      width: 380px
      height: auto

  &__head
    margin-bottom: 40px
    max-width: 567px
    font-size: 48px
    text-transform: uppercase
    text-align: center
    color: $text-light
    @include mediaTablet
      max-width: 62% // 264/373
      font-size: 32px

  &__est
    display: inline-flex
    align-items: center
    justify-content: center
    width: 284px
    height: 48px
    border-radius: 5px
    transform: translateY(7px)
    overflow: hidden
    @include mediaTablet
      width: 190px
      height: 32px

  // &__clip
  //   position: absolute
  //   top: 0
  //   bottom: 0
  //   left: 0
  //   height: var(--height)
  //   width: 100%
  //   filter: blur(0px)
  //   background: url('../images/bg/hero.jpg') no-repeat center / cover

  // &__video
  //   min-width: 100%
  //   min-height: 100%
  //   width: auto
  //   height: auto
  //   object-fit: cover
