.footer
  margin-top: var(--sectionPaddingTop)
  margin-bottom: 20px
  padding: 0 15px

  &__container
    display: flex
    justify-content: space-between
    padding: var(--sectionPaddingTop) 20px
    background-color: $dark-grey
    font-size: 32px
    font-family: $font-second
    color: #F0EFED
    border-radius: var(--borderRadius)
    box-shadow: $box-shadow
    @include mediaPhoneMid
      flex-direction: column
    @include mediaPhone
      padding: 40px 20px
  &__data
    display: flex
    flex-direction: column
    @include mediaPhoneMid
      margin-bottom: 30px
  &__adrress
    margin-bottom: 40px
    color: inherit
    transition: color 0.3s ease-in
    @media (any-hover: hover) and (pointer: fine)
      &:hover
        color: $beige
    @include mediaTablet
      font-size: 22px
  &__phone
    color: inherit
    &:not(:last-child)
      margin-bottom: 10px
      transition: color 0.3s ease-in
    @media (any-hover: hover) and (pointer: fine)
      &:hover
        color: $beige
    @include mediaTablet
      font-size: 22px
  &__info
    display: flex
    flex-direction: column
    align-items: flex-end
    justify-content: space-between
    @include mediaPhoneMid
      flex-direction: column-reverse
      align-items: flex-start
  &__social
    position: relative
    color: $beige
    font-size: 24px
    font-family: $font-first
    &::before
      position: absolute
      content: ''
      display: block
      bottom: -6px
      left: 0
      right: 0
      height: 2px
      background-color: $beige
      transition: left 0.5s ease
    @media (any-hover: hover) and (pointer: fine)
      &:hover
        &::before
          left: 100%
  &__email
    font-size: 48px
    color: inherit
    text-align: right
    transition: color 0.3s ease-in
    @media (any-hover: hover) and (pointer: fine)
      &:hover
        color: $beige
    @include mediaTablet
      font-size: 32px
    @include mediaPhoneMid
      margin-bottom: 32px
      text-align: left
